
#nav-toggle{
    height:5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left:50%;
    bottom :3rem;
    transform: translateX(-50%);
    background-color: rgb(182,142,113);
    border: none;
    border-radius: 5rem;
    outline:none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 /55%);
    cursor: pointer;
    transition-timing-function:ease;
    transition-duration: 400ms;
  }
  
  #nav-toggle:hover{
    transform: translateX(-50%) scale(1.1);
  }
  #nav-toggle:active{
    transform: translateX(-50%) scale(0.9);
  }

#nav-toggle > svg{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(246, 231, 224);
  font-size:1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}
  
// #nav-toggle:hover > svg {
//   opacity: 1;
//   transform: translate(-50%, -50%) scale(1);
// }

// #nav-toggle[data-nav="true"] > svg.fa-xmark{
//   opacity: 0;
// }

#nav-toggle:not([data-nav="true"]):hover > svg.fa-mug-saucer {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#nav-toggle[data-nav="true"] > svg.fa-xmark{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

