.page{
    width: 100%;
    height: 100%;
    position: absolute;

}

.top-tags{
    margin: 10px;
    bottom: auto ;
    top: 35px;
    margin-left: -20px;
}

.tags{
    font-weight: bold;
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}
.top-tag-html{
   
    left: 100px;
    margin-left: 20px;
    
}
.bottom-tag-html{
   
    margin-left: -20px;
}
.bottom-tags{
    bottom: 14vh;
    // transform : translate(0%,-200%)
}

.container {
    width: 100%;
    will-change: contents;
    height: 95%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeInContainer 1s forwards;
    animation-delay: 1s;
    
  }
.about-page, .contact-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle ;
        display: table-cell;
        max-height: 90%;
        h1{
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #ffd700;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 40px;
            left: 10px;
            position: relative;
            
            &::before{
                content: '<h1>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position:  absolute;
                margin-top: -10px;
                left : -10px;
                opacity: 0.6;
                line-height: 18px;
            }
           
            &::after{
                content: '<h1/>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                line-height: 18px;
                position:  absolute;
             
                left : -30px;
                bottom:-20px;
                margin-left: 20px;
                opacity: 0.6;
                
            }    
        }
        p {
            opacity:  0;
            font-size :13px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
            max-width: fit-content;
            animation: fadeInText 1s 3s forwards, pulse 1s 4s;
            // animation: pulse 1s;
            &:nth-of-type(1){
                animation-delay: 2.4s;
            }
            &:nth-of-type(2){
                animation-delay: 2.5s;
            }
            &:nth-of-type(3){
                animation-delay: 2.6s;
            }
        }
        

    }
    .text-animate-hover{
        &:hover{
            color: #fff;
            
        }
    }
}

@keyframes fadeInContainer {
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}